/* Đảm bảo rằng div luôn hiển thị khi di chuột vào */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.show {
  display: block;
}
/* Injected stylesheet */
.hidden {
  display: none !important;
}

/* Tailwind utility class with higher specificity */
@media (max-width: 857px) {
  .override-hidden {
      display: block !important;
  }
}
.sreach{
  font-size: 50px;
}
